<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
</head>
<body>
<main class="container">

    <h2>Account Details</h2>
    <table role="grid">

        <tr>
            <th scope="row">Name</th>
            <td th:text="${account.name}">Name</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td th:text="${account.email}">email</td>
        </tr>
        <tr>
            <th scope="row">Role</th>
            <td th:text="${account.role}">role</td>
        </tr>
        <tr th:if="${account.role.name() == 'ORGANISER'}">
            <th scope="row">Company Name</th>
            <td th:text="${account.companyName}">Name</td>
        </tr>
        <tr th:if="${account.role.name() == 'ORGANISER'}">
            <th scope="row">Company Address</th>
            <td th:text="${account.address}">address</td>
        </tr>
        <tr th:if="${account.role.name() == 'ORGANISER'}">
            <th scope="row">Phone Number</th>
            <td th:text="${account.phoneNumber}">phoneNumber</td>
        </tr>
    </table>

    <div class="grid">
        <a th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}" th:href="@{/administrator}" role="button" class="secondary">Back to MainPage</a>
        <a th:href="@{edit(userEmail=${account.email})}" role="button">Edit Account Information</a>
    </div>
</main>
</body>
</html>