<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management System</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<main class="container">
    <h2>Event Management System</h2>
    <form id="logout-form" method="post" name="logout-form" th:action="@{/logout}"></form>
    <nav class="container-fluid">
        <ul>
            <li><a class="secondary" th:href="@{/events}">Events</a></li>
            <li><a class="secondary" th:href="@{/venue}">Venues</a></li>
            <li><a class="secondary" th:href="@{/create-account}">Create Account</a></li>
            <li><a class="secondary" th:href="@{/account/my-account}">My Account</a></li>
            <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a>
            </li>
        </ul>
    </nav>
    <article id="article">
        <h3>Administration</h3>
        <h5>Account List</h5>
        <figure>
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th colspan="3" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account, iterStat: ${accounts}">
                    <td th:text="${account.name}"></td>
                    <td th:text="${account.email}"></td>
                    <td th:text="${account.role}"></td>
                    <td th:if="${iterStat.index > 0}">
                        <div class="button-group">
                            <a class="action-button" role="button"
                               th:href="@{/detail(userEmail=${account.email})}">View </a>
                            <a class="action-button" role="button"
                               th:href="@{/edit(userEmail=${account.email})}">Edit </a>
                            <form method="post" th:action="@{/deleteCustomer}"
                                  th:if="${account.role.name() == 'CUSTOMER'}">
                                <input name="customerId" th:value="${account.id}" type="hidden"/>
                                <button class="delete-button" type="submit">Delete</button>
                            </form>
                            <form method="post" th:action="@{/deleteOrganiser}"
                                  th:if="${account.role.name() == 'ORGANISER'}">
                                <input name="organiserId" th:value="${account.id}" type="hidden"/>
                                <button class="delete-button" type="submit">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="button" th:href="@{/create-account}">Create Account</a>

        </figure>
        <h5>Events and Venues</h5>
        <figure>
            <table role="grid">
                <tbody>
                <tr>
                    <th scope="col">Number of Events</th>
                    <td th:text="${eventCount}">0</td>
                </tr>
                <tr>
                    <th scope="row">Number of Venues</th>
                    <td th:text="${venueCount}">0</td>
                </tr>
                </tbody>
            </table>
            <div class="grid">
                <a class="button" th:href="@{/events}">List Events</a>
                <a class="button" th:href="@{/events/create}">Create Event</a>
                <a class="button" th:href="@{/venue}">List Venues</a>
                <a class="button" th:href="@{/venue/create}">Create Venue</a>
            </div>
        </figure>
    </article>
</main>
</body>
</html>