<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>
<body>
<main class="container">
    <h2>Event Management System</h2>
    <form id="logout-form" name="logout-form" th:action="@{/logout}" method="post"></form>
    <nav class="container-fluid">
        <ul>
            <li><a th:href="@{/administrator}" class="secondary">Main Page</a></li>
            <li><a th:href="@{/events}" class="secondary">Events</a></li>
            <li><a th:href="@{/venue}" class="secondary">Venues</a></li>
            <li><a th:href="@{/create-account}" class="secondary">Create Account</a></li>
            <li><a th:href="@{/account/my-account}" class="secondary">My Account</a></li>
            <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a></li>
        </ul>
    </nav>
    <article id="article">
        <h3>Administration</h3>
        <h5>Accounts</h5>
        <figure>
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.name}"></td>
                    <td th:text="${account.email}"></td>
                    <td th:text="${account.role}"></td>

                </tr>
                </tbody>
            </table>
            <a th:href="@{/create-account}" class="button">Create Account</a>

        </figure>
        <h5>Events and Venues</h5>
        <figure>
            <table role="grid">
                <tbody>
                <tr>
                    <th scope="col">Number of Events</th>
                    <td th:text="${eventCount}">0</td>
                </tr>
                <tr>
                    <th scope="row">Number of Venues</th>
                    <td th:text="${venueCount}">0</td>
                </tr>
                </tbody>
            </table>
            <div class="grid">
                <a th:href="@{/events}" class="button">List Events</a>
                <a th:href="@{/events/create}" class="button">Create Event</a>
                <a th:href="@{/venue}" class="button">List Venues</a>
                <a th:href="@{/venue/create}" class="button">Create Venue</a>
            </div>
        </figure>
    </article>
</main>
</body>
</html>