<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sean's Event Management System</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
<main class="container-fluid">
    <h2>Event Management System</h2>
    <form id="logout-form" method="post" name="logout-form" th:action="@{/logout}"></form>
    <nav class="container-fluid">
        <ul>
            <li><a class="secondary" th:href="@{/events/available}">Events</a></li>
            <li><a class="secondary" th:href="@{/account/my-account}">My Account</a></li>
            <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a>
            </li>
        </ul>
    </nav>
    <article id="article">
        <h3>Welcome <span th:text="${customer.name}">Customer Name</span>!</h3>
        <h3>Upcoming Tickets</h3>

        <figure>
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Ticket Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Ticket Code</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.event.name}">Event Name</td>
                    <td th:text="${ticket.event.venue.name}">Venue Name</td>
                    <td th:text="${ticket.event.date}">Date</td>
                    <td th:text="${ticket.event.time}">Time</td>
                    <td th:text="${ticket.type}">Ticket Type</td>
                    <td th:text="${'¥' + ticket.price}">Price</td>
                    <td th:text="${ticket.ticketCode}">Ticket Code</td>
                </tr>
                </tbody>

            </table>
            <a class="secondary" th:href="@{/tickets/my-tickets}">Purchase History</a></li>

        </figure>
    </article>
</main>
</body>
</html>