<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
</head>
<body>
<main class="container-fluid">
    <h2>Event Management System</h2>
    <form id="logout-form" name="logout-form" th:action="@{/logout}" method="post"></form>
    <nav class="container-fluid">
        <ul>
            <li><a th:href="@{/organiser}" class="secondary">Main Page</a></li>
            <li><a th:href="@{/account/my-account}" class="secondary">My Account</a></li>
            <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a>
            </li>
        </ul>
    </nav>
    <h3>Welcome, <span th:text="${organiser.name}">Organiser Name</span>!</h3>
    <article id="article">
        <h3>My Events</h3>
        <figure>
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.name}"></td>
                    <td th:text="${event.venue.name}"></td>
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.time}"></td>
                    <td><a th:href="@{/events/{id}(id=${event.id})}" role="button">View</a></td>
                    <td><a th:href="@{/events/{id}/edit(id=${event.id})}" role="button">Edit</a></td>
                </tr>
                </tbody>
            </table>
            <div class="grid">

                <div>
                    <button id="createEvent">
                        Create New Event
                    </button>
                </div>
                <div>
                    <button id="listVenues">
                        List Venues
                    </button>
                </div>
                <div>
                    <button id="createVenue">
                        Create New Venues
                    </button>
                </div>
            </div>
        </figure>
    </article>
</main>

<script>
    document.querySelector("#listVenues").addEventListener("click", function () {
        window.location.href = "venue";
    });
    document.querySelector("#createVenue").addEventListener("click", function () {
        window.location.href = "/venue/create";
    });
    document.querySelector("#createEvent").addEventListener("click", function () {
        window.location.href = "/events/create";
    });
</script>
</body>