<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Event Management System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>
<body>
<main class="container">
    <h2>Event Management System</h2>
    <form id="logout-form" name="logout-form" th:action="@{/logout}" method="post"></form>
    <nav class="container-fluid">
        <ul>
            <ul>
                <li th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
                    <a th:href="@{/administrator}" class="secondary">Main Page</a>
                </li>
                <li th:if="${#authorization.expression('hasAuthority(''ORGANISER'')')}">
                    <a th:href="@{/organiser}" class="secondary">Main Page</a>
                </li>

            </ul>
            <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a></li>
        </ul>
    </nav>

    <article id="article">
        <h3>Venues Management</h3>
        <div class="grid">
            <a th:href="@{/venue/create}" role="button">Create New Venue</a>
        </div>
        
        <div th:if="${#lists.isEmpty(venues)}">
            <p>There are currently no venues.</p>
        </div>
        
        <div th:if="${not #lists.isEmpty(venues)}">
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Venue Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Phone</th>
                        <th scope="col" colspan="3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="venue : ${venues}">
                        <td th:text="${venue.name}">Venue name</td>
                        <td th:text="${venue.address}">Address</td>
                        <td th:text="${venue.contactName}">Contact Name</td>
                        <td th:text="${venue.contactPhone}">Contact Phone</td>
                        <td><a th:href="@{/venue/{id}(id=${venue.id})}" role="button">View</a></td>
                        <td><a th:href="@{/venue/{id}/edit(id=${venue.id})}" role="button">Edit</a></td>
                        <td>
                            <div th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
                                <form th:action="@{/venue/{id}/delete(id=${venue.id})}" method="post" style="display: inline;">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</main>
</body>
</html> 