<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sean's Event Management System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    </head>
    <body>
        <main class="container">
            <h2>Sean's Event Management System</h2>
            <form id="logout-form" name="logout-form" th:action="@{/logout}" method="post"></form>
            <nav class="container-fluid">
                <ul>
                    <li><a th:href="@{/admin}" class="secondary">Main Page</a></li>
                    <li><a th:href="@{/admin/accounts}" class="secondary">Accounts</a></li>
                    <li><a th:href="@{/admin/majors}" class="secondary">Venues</a></li>
                    <li><a th:href="@{/admin/modules}" class="secondary">Events</a></li>
                    <li><a th:href="@{/admin/modules}" class="secondary">My Account</a></li>
                    <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a></li>
                </ul>
            </nav>
            <article id="article">
                <h3>Administration</h3>
                <h5>Accounts</h5>
                <figure>
                    <table role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Account Type</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Admin</th>
                            <td>2</td>
                        </tr>

                        <tr>
                            <th scope="row">Organiser</th>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th scope="row">User</th>
                            <td>500</td>
                        </tr>
                    </tbody>
                    </table>
                    <button>
                        List Accounts
                    </button>
                    <button>
                        Create Account
                    </button>
                </figure>
                <h5>Events and Venues</h5>
                <figure>
                    <table role="grid">
                        <tbody>
                        <tr>
                            <th scope="col">Number of Events</th>
                            <th scope="col">123</th>
                        </tr>
                        <tr>
                            <th scope="row">Number of Venues</th>
                            <td>24</td>
                        </tr>
                    </tbody>
                    </table>
                    <button>
                        List Events
                    </button>
                    <button>
                        List Venues
                    </button>
                </figure>
            </article>
        </main>
    </body>