<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Events</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
<main class="container-fluid">
    <h2>Event Management System</h2>
    <form id="logout-form" method="post" name="logout-form" th:action="@{/logout}"></form>
    <nav class="container-fluid">
        <ul>
            <ul>
                <li th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
                    <a class="secondary" th:href="@{/administrator}">Main Page</a>
                </li>
                <li th:if="${#authorization.expression('hasAuthority(''ORGANISER'')')}">
                    <a class="secondary" th:href="@{/organiser}">Main Page</a>
                </li>
                <li th:if="${#authorization.expression('hasAuthority(''CUSTOMER'')')}">
                    <a class="secondary" th:href="@{/custumer}">Main Page</a>
                </li>
            </ul>
            <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a>
            </li>
        </ul>
    </nav>

    <article id="article">
        <h3>Available Events</h3>

        <div th:if="${events.empty}">
            <p>There are currently no available events.</p>
        </div>

        <div th:if="${not events.empty}">
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.name}">Event Name</td>
                    <td th:text="${event.venue.name}">Venue Name</td>
                    <td th:text="${event.date}">Date</td>
                    <td th:text="${event.time}">Time</td>
                    <td>
                        <div class="grid">
                            <div>
                                <a role="button" th:href="@{/events/{id}(id=${event.id})}">Detail</a>
                            </div>
                            <div>
                                <a class="secondary" role="button" th:href="@{/tickets/purchase/{id}(id=${event.id})}">Buy</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</main>
</body>
</html> 