<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Available Events</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
</head>
<body>
    <main class="container-fluid">
        <h2>Event Management System</h2>
        <form id="logout-form" name="logout-form" th:action="@{/logout}" method="post"></form>
        <nav class="container-fluid">
            <ul>
                <ul>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
                        <a th:href="@{/administrator}" class="secondary">Main Page</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAuthority(''ORGANISER'')')}">
                        <a th:href="@{/organiser}" class="secondary">Main Page</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAuthority(''CUSTOMER'')')}">
                        <a th:href="@{/custumer}" class="secondary">Main Page</a>
                    </li>
                </ul>
                <li><a class="secondary" onClick="javascript: document.getElementById('logout-form').submit();">Log Out</a></li>
            </ul>
        </nav>

        <article id="article">
            <h3>Available Events</h3>
            
            <div th:if="${events.empty}">
                <p>There are currently no available events.</p>
            </div>
            
            <div th:if="${not events.empty}">
                <table role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Event Name</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="event : ${events}">
                            <td th:text="${event.name}">Event Name</td>
                            <td th:text="${event.venue.name}">Venue Name</td>
                            <td th:text="${event.date}">Date</td>
                            <td th:text="${event.time}">Time</td>
                            <td>
                                <div class="grid">
                                    <div>
                                        <a th:href="@{/events/{id}(id=${event.id})}" role="button">Detail</a>
                                    </div>
                                    <div>
                                        <a th:href="@{/tickets/purchase/{id}(id=${event.id})}" role="button" class="secondary">Buy</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </main>
</body>
</html> 