<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
<main class="container">

    <div class="alert alert-error" th:if="${errorMessage}">
        <p th:text="${errorMessage}">Error message</p>
    </div>

    <div th:if="${eventDTO}">
        <h2>Edit Event</h2>
        <form id="editEvent" method="post" th:action="@{/events/{id}/edit(id=${event.id})}" th:object="${eventDTO}">
            <label for="name">Event Name:</label>
            <input id="name" required th:field="*{name}" type="text"/>

            <label for="description">Description:</label>
            <textarea id="description" required th:field="*{description}"></textarea>

            <label for="date">Date:</label>
            <input id="date" name="dateStr" required th:value="${#dates.format(eventDTO.date, 'yyyy-MM-dd')}"
                   type="date"/>

            <label for="time">Time:</label>
            <input id="time" name="timeStr" required th:value="${#dates.format(eventDTO.time, 'HH:mm')}" type="time"/>

            <label for="venue">Venue:</label>
            <select id="venue" name="venueId" required>
                <option value="">Select Venue</option>
                <option th:each="venue : ${venues}"
                        th:selected="${eventDTO.venueId  != null && eventDTO.venueId  == venue.id}"
                        th:text="${venue.name}"
                        th:value="${venue.id}">
                </option>
            </select>

            <div th:if="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')')}">
                <label for="organiser">Organiser:</label>
                <select id="organiser" name="organiserId" required>
                    <option value="">Select Organiser</option>
                    <option th:each="org : ${organisers}"
                            th:selected="${eventDTO.organiserId  != null && eventDTO.organiserId == org.id}"
                            th:text="${org.name}"
                            th:value="${org.id}">
                    </option>
                </select>
            </div>

            <div id="ticketPricing">
                <h4>Ticket Pricing</h4>
                <div th:each="type : ${T(ucd.comp3013j.ems.model.enums.TicketType).values()}">
                    <div class="grid">
                        <div>
                            <label th:for="${'price-' + type}" th:text="${type} + ' Price'">Level Price</label>
                            <input min="0" step="0.01"
                                   th:field="*{pricesByLevel[__${type}__]}"
                                   th:id="${'price-' + type}" type="number"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid">
                <button class="button secondary" type="button" onclick="history.back()">Back</button>
                <button type="submit">Update Event</button>
            </div>
        </form>
    </div>
</main>

<script>
    document.querySelector("#editEvent").addEventListener("submit", function (e) {
        e.preventDefault();

        const venueId = document.querySelector("#venue").value;
        const date = document.querySelector("#date").value;

        if (venueId && date) {
            fetch(`/events/checkVenue?venueId=${venueId}&date=${date}`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (result) {
                    if (!result) {
                        // 不可用提示更改
                        alert("Date is occupied, change it!");
                    } else {
                        // 可用就提交表单
                        document.querySelector("#editEvent").submit();
                    }
                })
        }
    });
</script>
</body>
</html> 